html, body {
  font-size: 0.14rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #fff;
}

/****
  字体
****/
@font-face {
  font-family: 'myFont';
  src: url('../font/BebasNeueBold.ttf');
}

.my-font {
  font-family: 'myFont';
}

/****
  所有的背景图片样式
****/
.bg-icon1 {
  background-image: url('../image/new_left_decorate_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon2 {
  background-image: url('../image/new_right_decorate_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon3 {
  background-image: url('../image/bg-icon3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon4 {
  background-image: url('../image/bg-icon4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon5 {
  background-image: url('../image/bg-icon5.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon6 {
  background-image: url('../image/bg-icon6.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.bg-icon7 {
  background-image: url('../image/bg-icon7.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/****
  预警颜色定义
****/
.up-danger {
  color: #FCFF02;
}

.low-danger {
  color: #68FF7C;
}
